/* page en général */
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

header {
  padding-top: 80px;
}

/* menu */
navbar {
  font-size: 1.5em;
}

/* corps de la page */
corps {
  text-align: justify;
}

/* pied de page */
footer {
  margin-bottom: 30px;
}

.trait {
  background-color: #FF8C00; /* même couleur que la barre de navigation */
  height: 1pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* liens */
a {
  color: black;
}

a:hover {
  color: #FF8C00;
}

/* formulaire */
.CGU_formulaire {
  font-style: italic;
  font-size: 1em;
}

/* affichage chantiers */
.chantier {
  padding: 15px;
  text-align: justify;
  font-size: 1.3em;
  background-color: #DCDCDC;
  border: 2px solid black;
  border-radius: 20px;
}
