#Logo {
    filter : invert(100%);
}

.free {
    color: white;
    background-color: #62c462;
    border-color: rgba(0, 0, 0, 0.6);
}

.nfree {
    color: white;
    background-color: #ee5f5b;
    border-color: rgba(0, 0, 0, 0.6);
}

.wfree {
    color: white;
    background-color: #f89406;
    border-color: rgba(0, 0, 0, 0.6);
}

.range {
    color: #b94a48;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.range .panel-heading {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}
